.conactUs{
    padding: 4rem 0;
    position: relative;
}
/* .conactUs::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url(/assets/images/webp/contact-01-new.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    width: 160px;
} */
.conactUs::after{
    position: absolute;
    top: 0;
    right: 10%;
    content: '';
    background-image: url(/assets/images/webp/contact-02-new.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 360px;
    width: 200px;
}

@media(max-width: 992px){
    .conactUs p, .conactUs a{
        font-size: 1.4rem;
    }
    .conactUs::after{
        display: none;
    }
}
